/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #a93240;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #f1f0ed;
  text-decoration: none;
  padding: 0 20px 0 0;
  margin: 0 20px 0 0;
}
/*add++++++++++++++++++++++++++++++++++++++++++*/
header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

header nav ul {
  display: flex;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul li:last-child a {
  margin-right: 0;
}

/* -------  Join Form ------- */
form {
  border: 2px solid #6b1a22;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 5px;
  width: 100%;
}

/*add++++++++++++++++++++++++++++++++++++++++++*/
form div {
  display: flex;
  justify-content: space-between;
}


/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
/*add+++++++++++++++++++++++++++++++++++++++++++*/
@media all and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 8px;
  }

  header nav ul {
    align-items: center;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }
  
}